/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0d6efd; 
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0b5ed7; 
    cursor: pointer;
  }

body{
    background-color: #272727;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.main-login{
    padding-top: 100px;
    max-width: 500px;
    min-width: 400px;
    width: 90%;
    margin: auto;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-login h2{
    color: white !important;
    text-align: center;
}

.main-login .container-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.input-group span{
    color: white !important;
}

.input-group-text{
    border: none;
    font-weight: 500;
    width: 80px;
}

.sign-up .input-group-text{
    width: 90px;
}

.container-button a{
    display: grid;
    text-decoration: none;
}

.main-about{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px) ;
    overflow-x: hidden;
}

.main-about iframe{
    width: 80vw;
    height: calc(80vw / 2);
}

.header-my-community{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    margin: 10px;
    gap: 20px;
}

.main-my-community{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px;
    /* grid-template-columns: repeat(auto-fill, minmax(19rem , 1fr)); */
}

.card{
    min-width: 19rem;
    width: max-content !important;
}

.card h5 , .card li{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.card p{
    margin: 0;
}

.card-title a{
    color:black; 
}

.link-bottom{
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
    justify-content: space-between;
}

.link-bottom .card-link+.card-link{
    margin-left: 0;
}

ion-icon {
    cursor: pointer;
  }

  ion-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

#rightSideBar{
    position: fixed;
    top: 10px;
    bottom: 10px;
    max-width: 400px;
    min-width: auto !important;
    width: 90% !important;
    overflow: auto;
    z-index: 100;
    border: none !important;
}

.right10px{
    right: 10px;
}

.animation10px{
    right: 10px;
    animation: anim10px 0.5s ;
}

@keyframes anim10px{
    from{
        right: -400px;
    }to{
        right: 10px;
    }
}

.right400px{
    right: -400px;
}

.animation400px{
    right: -400px;
    animation: anim400px 0.5s ;
}

@keyframes anim400px{
    from{
        right: 10px;
    }to{
        right: -400px;
    }
}

#rightSideBar .card-body{
    flex: none !important;
}

.imageSideBar{
    object-fit: cover;
}

.image50vh{
    height: 200px;
}

.card-body-header{
    display: flex;
    justify-content: space-between;
}

.header-my-community .btn{
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-my-community ion-icon{
    width: 23px;
    height: 23px;
}

@media only screen and (max-width: 750px) {
    .hide-responsive{
        display: none;
    }
}

.list-group-item-community{
    gap: 10px !important;
    justify-content: space-between !important;
    align-items: center;
    cursor: pointer;
}

.list-group-item-community:hover{
    background-color: #212529;
    color: #fff;
}

.list-group-item-community img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.list-group-item-community .left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-group-item-community .name-and-status{
    display: grid;
}

.list-group-item-community .role{
    border-radius: 50px;
    padding: 0px 10px;
    color: white;
}

.list-group-item-community div span{
    display: flex;
    align-items: center;
    gap: 5px;
}

.list-group-item-community div span ion-icon{
    color: green;
}

.community{
    max-width: 400px;
}

.community img{
    max-height: 200px;
    object-fit: cover;
}